.title-xxl{font-style:normal;font: weight 300px !important;font: size 70px !important;line: height 1px !important;letter-spacing:-0.05em}
.title-xl{font-size:80px!important;font: weight 200px !important;line: height 78px !important;font-family:'Khula';letter-spacing:-0.05em}
.title-l{font-size:50px!important;font: weight 300px !important;line: height 52px !important;font-family:'Khula',sans-serif;letter-spacing:-0.05em;font-style:normal}
.title-m{font-size:32px!important;font: weight 300px !important;line: height 52px !important;font-family:'Khula';font-style:normal}
.title-s{font-size:22px!important;font-family:'Open Sans',sans-serif;font-style:normal;font: weight 200px !important;line: height 25px !important;;margin:0}
.text-s{font-size:16px!important;font-style:normal;font-family:'Open Sans',sans-serif;font-weight:400;line-height:1.4em;}
.title-l-italic{line-height:45px;font-family:Georgia,Palatino,Times!important;font-style:italic;font-size:35px!important;font-weight:100!important}
.title-s-italic{font-family:'Khula';font-style:normal;font-weight:200;font-size:24px;line-height:45px;color:#fff}
.main-btn{font-size:16px!important;font-weight:400;line-height:26px;font-family:'Open Sans';color:#fff;background:#C5299B;border:1px solid #C5299B;transition:background .3s;text-decoration:none;padding:15px 30px;border-radius:50px}
.main-btn:hover{background:#06226D;font-weight:normal;text-decoration:none}
.p-label{font-size:12px!important;font-weight:600;letter-spacing:.3em;text-transform:uppercase}
.main_navigation a{font-size:14px!important}
.social_media a{font-size:18px!important}
.text-footer-s{font-size:16px!important;font-family:'Open Sans';font-style:normal;font-weight:400}
.text-footer-l{font-size:18px!important;font-style:normal;font-weight:400}

h1, h2, h3 {font-weight:200;line-height:.85em;font-family:'Khula';letter-spacing:-0.05em}

/*blog footer*/
.lm34r_title {font-size:16px!important; line-height: 1.2em!important;}

@media(max-width:1024px){
  .title-xl{font-size:60px!important}
  .title-xxl{font-size:60px!important}}
@media(max-width:768px){
    .title-xl{font-size:42px!important}
  .title-l{font-size:38px!important}
  .text-s{font-size:14px!important}
  .title-s{font-size:20px!important}
  .main_navigation a{font-size:16px!important}
  .p-label{font-size:15px!important}
  .p-label{padding-left:3px}
  .title-l-italic{font-size:28px!important}}
@media(max-width:479px){
  .title-xl{font-size:40px!important;letter-spacing:-0.03em!important}
  .title-l{font-size:32px!important}
  .title-m{font-size:24px!important}
  .title-s{font-size:18px!important}
  .text-s{font-size:14px!important}
  .title-xxl{font-size:40px!important;letter-spacing:-0.03em!important}
  .title-l-italic{font-size:24px!important}
  .title-s-italic{font-size:18px!important}
  .text-footer-l{font-size:16px!important}
  .text-footer-s{font-size:18px!important}}