<div class="tmg_three_column_section {{ module.add_custom_class }}">
  <div class="content-wrapper">
    <div class="head_title"  data-aos="fade-up">
      <h2 class="title-l">{{ module.heading }}</h2>
    </div>
  </div>
  <div class="content-wrapper ">
    <div class="tmg_we_serve_row"  data-aos="fade-up">
      {% for item in module.we_serve_card %}
      <div class="tmg_col_4">
        <div class="we_card_box">
          <div class="we_serve_img">
            {% if item.image.src %}
            {% set sizeAttrs = 'width="{{ item.image.width|escape_attr }}" height="{{ item.image.height|escape_attr }}"' %}
            {% if item.image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.image.width|escape_attr }}" height="{{ item.image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif item.image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.image.max_width|escape_attr }}" height="{{ item.image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading|escape_attr }}"' : '' %}
            <img src="{{ item.image.src|escape_url }}" alt="{{ item.image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </div>
          <div class="tmg_we_serve_text">
            {{ item.text }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% require_css %}
<style>
  {% scope_css %} 

  .tmg_three_column_section{
    width: 100%;
    background-color: {{ module.style.background_color.css }};
    position: relative;
    {{ module.style.desktop_spacing.spacing.css }}
  }
  .tmg_we_serve_row{ 
    display:flex;  
    margin-left: -56px;
    margin-right:-56px;

  }
  .head_title h2{
    font-family: 'Khula';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-bottom:80px;
  }
  .tmg_col_4{ max-width: 33.333%; width: 100%;}
  .we_card_box{ position:relative; padding: 0 56px; border-right: 1px solid #88A8B6;}
  .tmg_col_4:last-child .we_card_box{ border-right:0; }

  .tmg_we_serve_text{  padding: 38px 0 30px; }
  .tmg_we_serve_text h4{

    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-bottom: 40px;


  }

  .tmg_we_serve_text p{

    font-size: 18px;
    line-height: 24px;

    color: #FFFFFF;


    margin: 0;
    padding: 0;
  }

  .navigation-testmonials {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 50px;
  }


  .button.custom_btn {
    position: relative;
    padding: 10px 26px;
    text-decoration: none;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;   
    color: #FFFFFF;
  }



  @media (max-width: 767px){

    .tmg_we_serve_row {  flex-wrap: wrap;     margin-left: 0;    margin-right: 0;}
    .tmg_three_column_section{  {{ module.style.mobile_spacing.spacing.css }}; }
    .tmg_col_4{ max-width: 100%; width: 100%;}
    .we_card_box {
      position: relative;
      padding: 55px  0 0;
      border-right: 0;
      border-bottom: 1px solid #88A8B6;
    }
    .tmg_col_4:first-child .we_card_box{ padding-top:0; }
    .tmg_col_4:last-child .we_card_box {
      border-right: 0;
      border-bottom: 0;
    }
    .tmg_we_serve_text{ padding-bottom:55px; }
    .tmg_col_4:last-child .we_card_box .tmg_we_serve_text{ padding-bottom:0; }
  }


  {% end_scope_css %} 
</style>
{% end_require_css %}
{% require_js %}
<script>


</script>
{% end_require_js %}
