<div class="tmg_two_column_section {{ module.add_custom_class }}">
    <div class="content-wrapper">
        <div class="tmg_two_column_row">
            <div class="tmg_col_6"  data-aos="fade-up">
              <div class="tmg_our_story_img">
  {% if module.left_column.image.src %}
    {% set sizeAttrs = 'width="{{ module.left_column.image.width|escape_attr }}" height="{{ module.left_column.image.height|escape_attr }}"' %}
    {% if module.left_column.image.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ module.left_column.image.width|escape_attr }}" height="{{ module.left_column.image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
    {% elif module.left_column.image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.left_column.image.max_width|escape_attr }}" height="{{ module.left_column.image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
    {% endif %}
    {% set loadingAttr = module.left_column.image.loading != 'disabled' ? 'loading="{{ module.left_column.image.loading|escape_attr }}"' : '' %}
    <img src="{{ module.left_column.image.src|escape_url + '?' + unixtimestamp() }}" alt="{{ module.left_column.image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
  {% endif %}
</div>
            </div>
            <div class="tmg_col_6"  data-aos="fade-up">
                <div class="tmg_our_story_text">
                    <div>
                      <h2 class="title-l">{{ module.text_group.title }}</h2>
                      <p class="text-s">{{ module.text_group.text_field }}</p>
                      <p class="text-s">{{ module.text_group.text_2_if_exist_ }}</p>
                  </div>
                    {% set href = module.text_group.button.button_link.url.href %}
                    {% if module.text_group.button.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                    {% endif %}
                    <a href="{{ href|escape_url }}" class="button custom_btn" {% if module.text_group.button.button_link.open_in_new_tab %}target="_blank" {% endif %} {% if module.text_group.button.button_link.rel %}rel="{{ module.text_group.button.button_link.rel|escape_attr }}" {% endif %}>
                        {{ module.text_group.button.button_text }} 

                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="21px" viewBox="0 0 25 21" style="enable-background:new 0 0 25 21;" xml:space="preserve">
                        <style type="text/css">
                        .st0 {
                            fill: none;
                            stroke: #FFFFFF;
                            stroke-width: 2;
                        }
                        </style>
                        <path class="st0" d="M14.3,1l9.1,9.5l-9.1,9.5"></path>
                        <line class="st0" x1="0" y1="10.6" x2="23.5" y2="10.6"></line>
                    </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% require_css %}
<style>
  {% scope_css %} 

  .tmg_two_column_section{
    width: 100%;
    background-color: {{ module.style.background_color.css }};
    position: relative;
    {{ module.style.desktop.spacing_field.css }}
  }
  .tmg_two_column_row{ 
    display:flex; 
    flex-wrap: wrap; 
    align-items: center;

  }
  .tmg_col_6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

  }
  .tmg_our_story_img img {  width: 100%;}
  .tmg_our_story_text h2{
    color: #FFFFFF;
    margin-bottom: 40px;
  }
  .tmg_our_story_text p{  
    font-style: normal;
    color: #FFFFFF;
  }
  .tmg_our_story_img img {  border-top-right-radius: 20px;  }
  .tmg_our_story_text {   padding-left: 80px; }

  .button.custom_btn {
    position: relative;
    padding: 10px 26px 8px 26px;
    text-decoration: none;
    background-color: inherit;
    font-family: 'Khula';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    align-items: center;
    gap: 10px;

  }

 .button.custom_btn:hover{  
  background-color:#C5299B;
} 
.button.custom_btn svg {  width: 15px; margin-bottom: -5px; margin-left: 20px; }

 {% if module.select_image_position =="rgt_img" %}
  
	.tmg_two_column_row {  flex-direction: row-reverse;}
	.tmg_our_story_img img {  border-top-left-radius: 20px;  border-top-right-radius: 0; }
	.tmg_our_story_text {  padding-left: 0; padding-right: 80px;}


  {% elif module.select_image_position =="lft_img" %}

  {% endif %}

@media screen and (max-width: 991px) {

.tmg_col_6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.tmg_two_column_section{  {{ module.style.mobile_spacing.spacing_field.css }} ; }
.tmg_our_story_text {  padding-left: 0; padding-top: 30px;}


 {% if module.select_image_position =="rgt_img" %}
  
	.tmg_two_column_row {  flex-direction: row-reverse;}
	.tmg_our_story_img img {  border-top-left-radius: 20px;  border-top-right-radius: 0; }
	.tmg_our_story_text {  padding-left: 0; padding-right: 0; padding-top: 30px;}

  {% elif module.select_image_position =="lft_img" %}

  {% endif %}

.tmg_our_story_text h2 {
    line-height: 1;
    margin-bottom: 20px;
}
}
  
  {% end_scope_css %} 
</style>
{% end_require_css %} 
<style>
  .tmg_two_column_section {
    padding: 60px 0 !important;
  }
  @media (width <= 1024px) {
    .tmg_two_column_section .tmg_our_story_text p br {
      display: none!important;
    }
    .tmg_our_story_text h2 {
      margin-bottom: 15px!important;
    }
    .tmg_our_story_text p {
      margin-bottom: 30px !important;
    }
  }
  @media (width <= 768px) {
    .tmg_two_column_section {
      padding: 35px 0 !important;
    }
  }
</style>
{% require_js %}
<script>

</script>
{% end_require_js %}